<div class='border-slate-900 border
            flex flex-col rounded overflow-hidden justify-between'>

            <div>
                <div class="flex w-full bg-indigo-400 py-2 px-4 items-center gap-4">
                    <img src={{postagem.usuario.foto}}
                         class='h-12 rounded-full' alt={{postagem.usuario.nome}} />
                    <h3 class='text-lg font-bold text-center uppercase'>
                      {{postagem.usuario.nome}}
                    </h3>
                </div>
                <div class='p-4 '>
                    <h4 class='text-lg font-semibold uppercase'>{{postagem.titulo}}</h4>
                    <p>{{postagem.texto}}</p>
                    <p>Tema: {{postagem.tema.descricao}}</p>
                    <p>Data: {{ getFormattedDate(postagem.data) }}</p>
                </div>
            </div>
            <div class="flex">
                <a [routerLink]="['/editarpostagem', postagem.id]" class='w-full text-white bg-indigo-400
                    hover:bg-indigo-800 flex items-center justify-center py-2'>
                    <button>Editar</button>
                </a>
                <a [routerLink]="['/deletarpostagem', postagem.id]" class='text-white bg-red-400
                    hover:bg-red-700 w-full flex items-center justify-center'>
                    <button>Deletar</button>
                </a>
            </div>
        </div>
