<div class="flex justify-center bg-indigo-900 text-white">
  <div class="container flex flex-col items-center py-4">
    <p class='text-xl font-bold'>
      Blog Pessoal Generation | Copyright: 2024
    </p>
    <p class='text-lg'>Acesse nossas redes sociais</p>
    <div class='flex gap-2'>
      <a href="https://linkedin.com/in/rafaelproinfo/" target="_blank">
        <ng-icon name="bootstrapInstagram"></ng-icon>
      </a>
      <a href="https://instagram.com/rafaelq8080" target="_blank">
        <ng-icon name="bootstrapLinkedin"></ng-icon>
      </a>
      <a href="https://github.com/rafaelq80" target="_blank">
        <ng-icon name="bootstrapGithub"></ng-icon>
      </a>
    </div>
  </div>
</div>
