<div class='container mx-auto mt-4 rounded-2xl overflow-hidden'>

  <img
      class='w-full h-72 object-cover border-b-8 border-white'
      src="https://i.imgur.com/ZZFAmzo.jpg" alt="Capa do Perfil" />

  <img
      class='rounded-full w-56 mx-auto mt-[-8rem] border-8 border-white relative z-10'
      src={{foto}} alt="Foto do perfil de {{nome}}"/>

  <div
      class="relative my-[-6rem] h-72 flex flex-col
          bg-sky-500 text-white text-2xl items-center justify-center"
  >
      <p>Nome: {{nome}} </p>
      <p>Email: {{usuario}}</p>
  </div>

</div>
