<div class='w-full bg-indigo-900 text-white flex justify-center py-4'>

  <div class="container flex justify-between text-lg">
    <a routerLink="/home" class="text-2xl font-bold">Blog Pessoal</a>

    <div class='flex gap-4'>
      <a routerLink="/postagens" class="hover:underline">Postagens</a>
      <a routerLink="/temas" class="hover:underline">Temas</a>
      Cadastrar tema
      <a routerLink="/perfil" class="hover:underline">Perfil</a>
      <a href='' (click)='logout()' class="hover:underline">Sair</a>
    </div>

  </div>

</div>
