<div class="bg-indigo-900 flex justify-center">
  <div class='container grid grid-cols-2 text-white'>
      <div class="flex flex-col gap-4 items-center justify-center py-4">
          <h2 class='text-5xl font-bold'>
              Seja Bem Vinde!
          </h2>
          <p class='text-xl'>
              Expresse aqui seus pensamentos e opniões
          </p>

          <div class="flex justify-around gap-4">
              <div class='rounded text-white
                              border-white border-solid border-2 py-2 px-4'
                  >
                  Nova Postagem
              </div>
          </div>
      </div>

      <div class="flex justify-center ">
          <img
              src="https://i.imgur.com/fyfri1v.png"
              alt="Imagem Página Home"
              class='w-2/3'
          />
      </div>
  </div>
</div>
<app-listartemas></app-listartemas>
